body {
  position: relative;
  overflow: hidden;
  margin:0 ;
  padding:0 ;
}

:root {
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 250;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveVertical {
	0% {top: 20vh;}
  50% {top: 0vh;}
  100% {top: 20vh}
}

@keyframes moveHorizontal {
	0% {top: 0vh; left: 0vw}
  50% {top: -10vh; left: 50vw}
  100% {top: 0vh; left: 0vw}
}

@keyframes movelnCircle { 
  0% {
  transform: rotate(0deg);
  }
  50% { transform: rotate(180deg);
  }
  100% {
transform: rotate(360deg); 
  }
}

@font-face {
  font-family: 'KyivTypeSans';
  src: url(./fonts/KyivTypeSans-Black2.otf) format('opentype');
  font-weight: 900;
  backdrop-filter: blur(20s);
}

@font-face {
  font-family: 'KyivTypeSansRegular';
  src: url(./fonts/KyivTypeSans-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

#movingbg1 {
	position: fixed;
  width: 100vw;
  height: 100vh;
  /*transform: translate(-50%, -50%); /* Center the element vertically and horizontally */
	z-index: 5;
}

#animation1 {
  top: 35%;
  left: 50%;
  width: 60vh;
  height: 60vh;
  max-width: 100%;
  transform: translate(-50%, -50%); /* Center the element vertically and horizontally */
  position: fixed;
  z-index: 6;
}

#movingbg {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #ce20f5);
	background-size: 400% 400%;
	animation: gradient 35s ease infinite;
	height: 100vh;
	width: 100hw;
	z-index: -1;
}

#movingbg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #ce20f5);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  filter: blur(10px);
  z-index: -13;
}

#divblock {
  position: fixed;
  top: 1vh;
  width: 100vw;
  font-family: 'KyivTypeSansRegular', sans-serif;
  font-size: 9vw; /* Adjust this value to make the text as big as you want */
  z-index: 15;
  text-align: center;
  color:aliceblue;
  font-weight: 9000; 
  opacity: 20%;
  /*filter: blur(5px);*/
}

.gradients-container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  filter: blur(90px);
  position: absolute;
  overflow: hidden;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--colorl), 0.8) 0, rgba(var(--colorl), 0) 50%) no-repeat;
  width: var(--circle-size);
  mix-blend-mode: var(--blending);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 1;
  transform-origin: center center;
  animation: moveVertical 20s ease infinite;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 1;
  transform-origin: center center;
  animation: moveVertical 10s ease infinite;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 10vh);
  left: calc(50% - var(--circle-size) / 2 - 15vw);
  opacity: 1;
  transform-origin: calc(50% - 30vh);
  animation: movelnCircle 20s ease infinite;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 - 30vh);
  left: calc(50% - var(--circle-size) / 2 + 35vw);
  opacity: 1;
  animation: moveHorizontal 30s ease infinite;
}

  .g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 10Vh);
  left: calc(50% - var(--circle-size) / 2 + 40vw);
  opacity: 1;
  transform-origin: calc(50% - 30vh);
  animation: movelnCircle 30s ease infinite;
}

#linkblock {
  position: fixed;
  right: 10vw;
  bottom: 0;
  width: 100vw;
  text-align: right;
  z-index: 16;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'KyivTypeSans', sans-serif;
  font-size: 3vh;
  color: rgb(187, 231, 233);
  font-weight: 5000;
  opacity: 50%;
}

#linkblock a {
  font-family: 'KyivTypeSansRegular', sans-serif;
  text-decoration: none;
  line-height: 1.8;
  margin: 0 1em;
  transition: color 0.3s ease, text-shadow 0.5s ease, letter-spacing 0.8s ease;
}

#linkblock a:hover {
  text-shadow: black 5px 5px 10px;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
}

#mouseFollower {
  position: absolute;
  width: 30vh;
  height: 30vh;
  background: rgb(120, 233, 150);
  border-radius: 50%;
  pointer-events: none;
  /*mix-blend-mode:color-burn;*/
  transition: transform 0.3s ease-out;
  transform: translate(-50%, -50%);
  z-index: 2;
  filter: blur(10vh);
  opacity: 0.6;
}
