body {
  margin:0 ;
  padding:0 ;
}

:root {
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 250;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveVertical {
	0% {top: 20vh;}
  50% {top: 0vh;}
  100% {top: 20vh}
}

@keyframes moveHorizontal {
	0% {top: 0vh; left: 0vw}
  50% {top: -10vh; left: 50vw}
  100% {top: 0vh; left: 0vw}
}

@keyframes movelnCircle { 
  0% {
  transform: rotate(0deg);
  }
  50% { transform: rotate(180deg);
  }
  100% {
transform: rotate(360deg); 
  }
}

#movingbg {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 35s ease infinite;
	height: 100vh;
  width: 100hw;
  z-index: -1;
  filter: blur(0px);
}

.gradients-container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  filter: blur(90px);
  position: absolute;
  overflow: hidden;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--colorl), 0.8) 0, rgba(var(--colorl), 0) 50%) no-repeat;
  width: var(--circle-size);
  mix-blend-mode: var(--blending);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 1;
  transform-origin: center center;
  animation: moveVertical 20s ease infinite;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 1;
  transform-origin: center center;
  animation: moveVertical 10s ease infinite;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 10vh);
  left: calc(50% - var(--circle-size) / 2 - 15vw);
  opacity: 1;
  transform-origin: calc(50% - 30vh);
  animation: movelnCircle 20s ease infinite;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 - 30vh);
  left: calc(50% - var(--circle-size) / 2 + 35vw);
  opacity: 1;
  animation: moveHorizontal 30s ease infinite;
}

  .g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 10Vh);
  left: calc(50% - var(--circle-size) / 2 + 40vw);
  opacity: 1;
  transform-origin: calc(50% - 30vh);
  animation: movelnCircle 30s ease infinite;
}